option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: aws-eb

  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-816450e6

  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-159bab4e
    value: subnet-d0b354b6

  - namespace: aws:ec2:vpc
    option_name: ELBSubnets
    value: subnet-d0b354b6

  - namespace: aws:ec2:vpc
    option_name: DBSubnets
    value: subnet-159bab4e
    value: subnet-d0b354b6

  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t2.micro

  - namespace: aws:autoscaling:launchconfiguration
    option_name: SecurityGroups
    value: sg-0853586f7202fda5a
